In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
from sklearn.preprocessing import scale
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv("Stroke_small.csv")
print(df.shape)
print(df.info())
display(df.head())

(20, 4)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   ID       20 non-null     int64
 1   Alcohol  20 non-null     float64
 2   Smoking  20 non-null     int64
 3   Stroke   20 non-null     int64
dtypes: float64(1), int64(3)
memory usage: 768.0 bytes
None

   ID  Alcohol  Smoking  Stroke
0   1      1.3        2       1
1   2      0.9        0       0
2   3      0.7        3       1
3   4      0.8        0       0
4   5      1.7        3       1

### 1

In [3]:
df = df.loc[:, "Alcohol":]
display(df.head())

   Alcohol  Smoking  Stroke
0      1.3        2       1
1      0.9        0       0
2      0.7        3       1
3      0.8        0       0
4      1.7        3       1

### 2

In [4]:
X = df[["Alcohol", "Smoking"]]
display(X.head())

y = df["Stroke"]
display(y.head())

   Alcohol  Smoking
0      1.3        2
1      0.9        0
2      0.7        3
3      0.8        0
4      1.7        3

0    1
1    0
2    1
3    0
4    1
Name: Stroke, dtype: int64

### 3

In [5]:
print(y.value_counts())

Stroke
0    11
1     9
Name: count, dtype: int64

### 4

In [6]:
X_dumm_c = sm.add_constant(X)
model = sm.Logit(y, X_dumm_c)
results = model.fit()
print(results.summary())

Optimization terminated successfully.
         Current function value: 0.465424
         Iterations 6
                           Logit Regression Results
==============================================================================
Dep. Variable:                 Stroke   No. Observations:                   20
Model:                          Logit   Df Residuals:                       17
Method:                           MLE   Df Model:                            2
Date:                Fri, 07 Jun 2024   Pseudo R-squ.:                  0.3236
Time:                        18:46:59   Log-Likelihood:                -9.3085
converged:                       True   LL-Null:                       -13.763
Covariance Type:            nonrobust   LLR p-value:                   0.01163
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const         -2.7878      2.005     -1.390      0.164      -6.718       1.143
Alcohol        0.3945      1.578      0.250      0.803      -2.697       3.486
Smoking        1.3069      0.600      2.179      0.029       0.131       2.483
==============================================================================

### 5

In [7]:
y_pred = results.predict(X_dumm_c)
print("Predicted y: ")
print(y_pred.head())
y_pred_bin = (y_pred >= 0.5).astype("int")
print(y_pred_bin.head())

Predicted y:
0    0.583928
1    0.080715
2    0.803621
3    0.077835
4    0.858590
dtype: float64
0    1
1    0
2    1
3    0
4    1
dtype: int32

In [8]:
acc = accuracy_score(y, y_pred_bin)
print("命中率: ", acc)

命中率:  0.85

### 6

In [9]:
print(np.exp(results.params))

const      0.061559
Alcohol    1.483704
Smoking    3.694664
dtype: float64

### 7

In [10]:
X_scaled_ar = scale(X)
X_scaled = pd.DataFrame(X_scaled_ar, columns=X.columns)
X_scaled_c = sm.add_constant(X_scaled)

model = sm.Logit(y, X_scaled_c)
results_scaled = model.fit()
print(results_scaled.params.sort_values(key=np.abs, ascending=False))

Optimization terminated successfully.
         Current function value: 0.465424
         Iterations 6
Smoking    1.573703
const     -0.338199
Alcohol    0.151988
dtype: float64

### 8

In [11]:
X_test = pd.DataFrame([[0.3, 1], [0.7, 1]], columns=X.columns)
X_test_c = sm.add_constant(X_test, has_constant="add")
y_test = results.predict(X_test_c)
print("Predicted y: ")
print(y_test)

Predicted y:
0    0.203832
1    0.230641
dtype: float64