In [2]:
import os
os.environ['OMP_NUM_THREADS'] = '1'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale

In [4]:
csv_in = 'car-data.csv'
df = pd.read_csv(csv_in)
display(df.head())

          Car       Model  Volume  Weight  CO2
0      Toyota        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [6]:
dfX = df[["Weight", "CO2"]]
display(dfX.head())

   Weight  CO2
0     790   99
1    1160   95
2     929   95
3     865   90
4    1140  105

In [7]:
X_scaled = scale(dfX)

In [8]:
emit_df = pd.DataFrame(X_scaled, columns = dfX.columns)

In [9]:
n_cls = 4 # クラスタ数を設定
km = KMeans(n_clusters=n_cls, n_init=6, random_state=12)
clstr = km.fit_predict(emit_df)

In [10]:
print(km.inertia_)

14.956613161341018

In [11]:
emit_df["cluster_no"] = clstr
display(emit_df.head())

     Weight       CO2  cluster_no
0 -2.103893 -0.411925           1
1 -0.554072 -0.956120           1
2 -1.521663 -0.956120           1
3 -1.789740 -1.636364           1
4 -0.637846  0.404367           3

In [12]:
print(emit_df["cluster_no"].value_counts())

cluster_no
1    11
2    11
3     9
0     5
Name: count, dtype: int64