In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
csv_in = 'google-stock-price.csv'
df = pd.read_csv(csv_in, sep=",", header=0)
display(df.head())

       date  price
0  1/2/2020  68.37
1  1/3/2020  68.03
2  1/6/2020  69.71
3  1/7/2020  69.67
4  1/8/2020  70.22

In [3]:
df["date"] = pd.to_datetime(df["date"])
display(df.head())
print(df.info())

        date  price
0 2020-01-02  68.37
1 2020-01-03  68.03
2 2020-01-06  69.71
3 2020-01-07  69.67
4 2020-01-08  70.22

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1100 entries, 0 to 1099
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    1100 non-null   datetime64[ns]
 1   price   1100 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 17.3 KB
None

In [4]:
df = df.set_index("date")
df_month_start = df.resample("ME").mean()
display(df_month_start.head())

                price
date
2020-01-31  71.832381
2020-02-29  73.204737
2020-03-31  59.420455
2020-04-30  61.706190
2020-05-31  69.056500

In [5]:
df["remark"] = ['high' if x>100 else 'low' for x in df['price']]
df["name_of_day"]= df.index.day_name()

In [6]:
df_23 = df[df.index.year==2023].copy()
print(df_23.shape)

(250, 3)

In [7]:
df_23_ctab=pd.crosstab(df_23["name_of_day"], df_23["remark"], margins=True)
display(df_23_ctab)

remark       high  low  All
name_of_day
Friday         43    8   51
Monday         39    6   45
Thursday       42    9   51
Tuesday        41   10   51
Wednesday      42   10   52
All           207   43  250