In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("cs3-04-quiz.csv", sep=",")
display(df.head())

  group  score2
0     A       5
1     A      26
2     A      62
3     A      59
4     A      19

In [11]:
print(df.describe())

          score2
count   36.00000
mean    43.75000
std     29.17472
min      0.00000
25%     19.75000
50%     41.00000
75%     65.75000
max    100.00000