In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame([[1, 3, 5], [5, 7, 9]])

display(df1)

   0  1  2
0  1  3  5
1  5  7  9

In [3]:
df1.columns = ['c1', 'c2', 'c3']

display(df1)

   c1  c2  c3
0   1   3   5
1   5   7   9

In [4]:
df1.index = ['r1', 'r2']

display(df1)

    c1  c2  c3
r1   1   3   5
r2   5   7   9

In [5]:
print(df1.to_numpy())

[[1 3 5]
 [5 7 9]]

In [6]:
print(df1.shape)

(2, 3)