In [1]:
import random
import pandas as pd

グー：0
チョキ：1
ぱー：2

winner -> 0:あいこ　1:player1 2:player2

In [2]:
def judge(player1, player2):
    winner = 0
    if player1 == 2 and player2 == 0 or player1 < player2:
        winner = 1
    elif player1 == player2:
        winner = 0
    else:
        winner = 2
    return winner

In [4]:
for _ in range(1):
    df = pd.DataFrame([[0, 0, 0],[0, 0, 0],[0, 0, 0]], columns = ['p1_G','p1_Tyo','p1_P'], index = ['p2_G','p2_Tyo','p2_P'])
    for _ in range(1000):
        player1 = random.randrange(3)
        player2 = random.randrange(3)
        df.iat[player2, player1] += 1
    display(df)
    print(df.max())

        p1_G  p1_Tyo  p1_P
p2_G     109     101   112
p2_Tyo    97     124   107
p2_P     119     112   119

p1_G      119
p1_Tyo    124
p1_P      119
dtype: int64