In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("wholesale_customers-with-errors.csv", skiprows=13, header=0, sep=",")
display(df.head())

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,Other,12669,NaN,7561,214.0,2674,1338
1,2,other,7057,9810.0,9568,1762.0,3293,1776
2,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
3,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
4,1,Other,13265,NaN,4221,NaN,507,1788

#### 重複したデータを表示し、重複を削除。

In [3]:
display(df[df.duplicated(keep=False)])

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
2,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
3,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
310,1,Oporto,7034,1492.0,2405,12569.0,299,1117
311,1,Oporto,7034,1492.0,2405,12569.0,299,1117
312,1,Oporto,7034,1492.0,2405,12569.0,299,1117

In [4]:
df = df.drop_duplicates().reset_index(drop=True)

#### 2:Region列の表記ゆれを解消し、lisbon, oporto, other（すべて小文字）にそろえる。

In [12]:
display(df.loc[:, "Region":"Region"].head())

   Region
0   Other
1   other
2  Otheer
3   Other
4   Other

#### 3: 欠損のあるデータを表示し、欠損地を各列の平均値で埋める

#### 4: dfの内容をwholesale_costomers_fill_average.csvという名前で保存。