In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("wholesale_customers-with-errors.csv", skiprows=13, header=0, sep=",")
display(df.head())

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,Other,12669,NaN,7561,214.0,2674,1338
1,2,other,7057,9810.0,9568,1762.0,3293,1776
2,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
3,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
4,1,Other,13265,NaN,4221,NaN,507,1788

#### 重複したデータを表示し、重複を削除。

In [3]:
display(df[df.duplicated(keep=False)])

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
2,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
3,2,Otheer,6353,8808.0,7684,2405.0,3516,7844
310,1,Oporto,7034,1492.0,2405,12569.0,299,1117
311,1,Oporto,7034,1492.0,2405,12569.0,299,1117
312,1,Oporto,7034,1492.0,2405,12569.0,299,1117

In [4]:
df = df.drop_duplicates().reset_index(drop=True)

#### 2:Region列の表記ゆれを解消し、lisbon, oporto, other（すべて小文字）にそろえる。

In [5]:
print(df["Region"].value_counts())

Region
Other     313
Lisbon     75
Oporto     43
other       1
Otheer      1
lisbon      1
Lisbn       1
Porto       1
porto       1
Name: count, dtype: int64

In [6]:
df["Region"] = df["Region"].replace(["Lisbon", "Lisbn"], "lisbon")
df["Region"] = df["Region"].replace(["Oporto", "Porto", "porto"], "oporto")
df["Region"] = df["Region"].replace(["Other", "Otheer"], "other")
print(df["Region"].value_counts())

Region
other     315
lisbon     77
oporto     45
Name: count, dtype: int64

#### 3: 欠損のあるデータを表示し、欠損地を各列の平均値で埋める

In [7]:
display(df[df.isna().any(axis=1)])
df = df.fillna(df.mean(numeric_only=True))
display(df[df.isna().any(axis=1)])

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,other,12669,NaN,7561,214.0,2674,1338
3,1,other,13265,NaN,4221,NaN,507,1788

Empty DataFrame
Columns: [Channel, Region, Fresh, Milk, Grocery, Frozen, Detergents_Paper, Delicatessen]
Index: []

#### 4: dfの内容をwholesale_costomers_fill_average.csvという名前で保存。

In [8]:
df.to_csv("wholesale_costomers_fill_average.csv", index=False, encoding="utf-8-sig")

In [9]:
df_check=pd.read_csv("wholesale_costomers_fill_average.csv", sep=",")
print(df_check.shape)
print(df_check.info())
display(df_check.head())

(437, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 437 entries, 0 to 436
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           437 non-null    int64
 1   Region            437 non-null    object
 2   Fresh             437 non-null    int64
 3   Milk              437 non-null    float64
 4   Grocery           437 non-null    int64
 5   Frozen            437 non-null    float64
 6   Detergents_Paper  437 non-null    int64
 7   Delicatessen      437 non-null    int64
dtypes: float64(2), int64(5), object(1)
memory usage: 27.4+ KB
None

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,other,12669,5813.595402,7561,214.000000,2674,1338
1,2,other,7057,9810.000000,9568,1762.000000,3293,1776
2,2,other,6353,8808.000000,7684,2405.000000,3516,7844
3,1,other,13265,5813.595402,4221,3073.073394,507,1788
4,2,other,22615,5410.000000,7198,3915.000000,1777,5185