In [1]:
# To avoid the warning about the memory leak of KMeans (Win MKL version)  
import os
os.environ['OMP_NUM_THREADS'] = '1'

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import scale

In [2]:
# To show all rows/columns
pd.options.display.max_columns = 999
pd.options.display.max_rows = 999

In [3]:
csv_in = 'driver-data.csv'
df = pd.read_csv(csv_in, sep=",", header=0)
display(df.head())

    driver_id  avg_dist_day  avg_over_speed
0  3423311935         71.24              28
1  3423313212         52.53              25
2  3423313724         64.54              27
3  3423311373         55.69              22
4  3423310999         54.58              25

In [4]:
dfX = df[["avg_dist_day", "avg_over_speed"]]

In [5]:
X_scaled = scale(dfX)

In [6]:
dfX_scaled = pd.DataFrame(X_scaled, columns = dfX.columns)

In [7]:
kmeans = KMeans(n_clusters=4, n_init=6, random_state=12)
cls = kmeans.fit_predict(dfX_scaled)

In [8]:
print(kmeans.cluster_centers_[2])

[-0.47952334  1.57909169]

In [9]:
df["clstr_num"] = cls
display(df.head()) 
print(df["clstr_num"].value_counts())

    driver_id  avg_dist_day  avg_over_speed  clstr_num
0  3423311935         71.24              28          2
1  3423313212         52.53              25          2
2  3423313724         64.54              27          2
3  3423311373         55.69              22          2
4  3423310999         54.58              25          2

clstr_num
0    2774
1     695
2     427
3     104
Name: count, dtype: int64