In [6]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame([2.2, 1.4, 2.7, 1.8, 1.6])
display(df)

     0
0  2.2
1  1.4
2  2.7
3  1.8
4  1.6

In [4]:
print(df.mean())

0    1.94
dtype: float64

In [5]:
print(df.median())

0    1.8
dtype: float64

In [8]:
df1 = np.mean(df)
print(df1)

1.9400000000000002

In [9]:
print(np.median(df))

1.8