In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame([ [ 1, 2, 3 ], [ 4, 5, 6 ] ])
display(df)

   0  1  2
0  1  2  3
1  4  5  6

In [3]:
df.columns = [ "A", "B", "C" ]
display(df)

   A  B  C
0  1  2  3
1  4  5  6

In [14]:
display(df.loc[:,"B":"B"])

   B
0  2
1  5

In [8]:
display(df.loc[:0,])

   A  B  C
0  1  2  3

In [12]:
print(df.loc[1, "A"])

4